# Bee Data
public net.minecraft.world.level.block.entity.BeehiveBlockEntity$BeeData
public net.minecraft.world.level.block.entity.BeehiveBlockEntity$BeeData <init>(Lnet/minecraft/world/level/block/entity/BeehiveBlockEntity$Occupant;)V
# Texture
public net.minecraft.client.renderer.texture.TextureAtlas width
public net.minecraft.client.renderer.texture.TextureAtlas height
public net.minecraft.client.renderer.texture.TextureAtlasSprite padding
# GUI
public net.minecraft.client.gui.components.Button onPress
public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight
